In [1]:
import pandas as pd

# Reading data

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  101.153921         1  100          0           0              0
1   99.458012         0   69          0           0              0
2   98.783840         0    7          0           0              1
3  100.838212         0   87          1           0              0
4   99.856439         0   41          0          -1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2995   98.051224         0   62          1          -1              0
2996  100.619631         0   27          1           1              1
2997  101.780006         1   32          0          -1              1
2998   98.024453         0   94          1          -1              1
2999   99.564021         1   33          1          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
fever            3000 non-null float64
bodyPain         3000 non-null int64
age              3000 non-null int64
runnyNose        3000 non-null int64
diffBreath       3000 non-null int64
infectionProb    3000 non-null int64
dtypes: float64(1), int64(5)
memory usage: 140.8 KB

In [9]:
df['diffBreath'].value_counts()

 1    1031
 0     990
-1     979
Name: diffBreath, dtype: int64

In [10]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,100.010828,0.516333,50.937333,0.511000,0.017333,0.511333
std,1.153998,0.499816,28.819315,0.499962,0.818488,0.499955
min,98.002608,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.007893,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.048328,1.000000,51.000000,1.000000,0.000000,1.000000
75%,101.024076,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.998660,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Spillting

In [11]:
import numpy as np

In [21]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size= int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [22]:
train, test=data_split(df, 0.2)

In [23]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
642    99.799983         1   43          0           1              1
700    98.913512         1    9          1           1              0
226   101.605429         1   90          1           0              0
1697  100.689903         1   40          1           1              1
1010  100.290158         0   35          0           1              0
...          ...       ...  ...        ...         ...            ...
1638  101.244149         1   40          1          -1              1
1095   99.344926         0   33          1           0              1
1130  101.031787         0   22          1           0              1
1294   98.744854         0   21          1           0              0
860    99.085426         1   92          1          -1              0

[2400 rows x 6 columns]

In [24]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1801   99.800196         0    9          0           0              1
1190   98.849905         1   46          1          -1              1
1817   98.677896         1   45          1           1              1
251    98.728324         0   33          0           1              1
2505   98.823515         0   82          0           0              0
...          ...       ...  ...        ...         ...            ...
104   100.263871         0   29          1           0              0
2087   99.330496         0   73          0          -1              0
599   101.766064         1   29          0          -1              0
1756  100.627596         0   60          0           0              0
1323  100.900370         0   84          1          -1              0

[600 rows x 6 columns]

In [30]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [41]:
Y_train = train[['infectionProb']].to_numpy().reshape(2400,)
Y_test = test[['infectionProb']].to_numpy().reshape(600,)

In [42]:
Y_train

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [53]:
inputFeatures=[102,0,43,0,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [54]:
infProb

0.5051189843979794